:root {
    --maxWidth: 1200px;
}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 70px;
    color: white;
}
h2 {
    font-size: 25px;
    color: ghostwhite;
}
h3 {
    font-size: 18px;
    color: ghostwhite;
}
p {
    font-size: 16px;
    color: rgb(209, 209, 209);
}
button {
    font-size: 17px;
    border: none;
}
body {
    background: url(../images/beachBackground.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/********************
MAIN PAGE
/*******************/

.nav {
    width: 100%;
    height: fit-content;
    max-width: var(--maxWidth);
    margin: auto;
    margin-top: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: 100px;
}

.logo-container img {
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
}

.nav-buttons button {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0 5px;
}
.nav-buttons button:nth-of-type(1) {
    background: transparent;
    color: #fff;
}

.nav-buttons button:nth-of-type(2) {
    background: #fff;
    color: #000;
}

.main-container {
    width: 100%;
    padding: 200px 30px;
    max-width: var(--maxWidth);
    margin: auto;
}

.main-container > div {
    max-width: 500px;
}

.main-container h1{
    font-size: 70px;
}

.main-container p{
    font-size: 18px;
    line-height: 22px;
}

.insured {
    color: orange;
}

.btn-submit {
    background: #000;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
}

.chat {
    position: absolute;
    bottom: 0;
    right: 0;
}

/********************
ABOUT PAGE
/*******************/
.about-container {
    width: 100%;
    max-width: var(--maxWidth);
    margin: auto;
    padding: 200px 30px;
}

.about-container > h1 {
    margin-bottom: 30px;
    width: fit-content;
    max-width: 500px;
}

.about-container > p {
    margin-bottom: 30px;
    width: fit-content;
    max-width: 500px;
}

.about-container > button {
    padding: 15px 60px;
    background: ghostwhite;
    border-radius: 100px;
}

/********************
Contact PAGE
/*******************/
.contact-container {
    width: 100%;
    max-width: var(--maxWidth);
    margin: auto;
    padding: 200px 30px;
}

.contact-container > h1 {
    margin-bottom: 30px;
    width: fit-content;
    max-width: 500px;
}

.contact-container > p {
    margin-bottom: 30px;
    width: fit-content;
    max-width: 500px;
}

.contact-container > button {
    padding: 15px 60px;
    background: ghostwhite;
    border-radius: 100px;
}